html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

body {
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

p, button {
    font-size: 20px;
    color: white;
}

button {
    border: none;
    border-radius: 20px;
    height: 40px;
    background-color: transparent;
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 0px 2px 0px 0px gray;
}

button:active {
    transform: translateY(4px);
    box-shadow: none;
}

.center-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.topic {
    height: 150px;
}

.equation {
    height: 100px;
    display: flex;
    align-items:  center;
    animation: from-left 1s;
}

#current-answer {
    opacity: 0;
}

#current-answer:hover {
    opacity: 1;
}

#menu-icon {
    position: fixed;
    right: 7%;
    top: 50%;
    transform: translateY(-50%);
}

#menu-icon:hover {
    cursor: pointer;
}

#menu {
    position: fixed;
    right: 5%;
    top: 10%;
    height: 80%;
    width: 100px;
    background-color: rgba(211, 211, 211, .4);
    flex-direction: column;
    justify-content: space-around;
    transition: all .5s ease 0s;
    border-radius: 4px;
}

.menu-container {
    height: 100px;
    background-color: transparent;
    transition: transform .5s ease-in-out 0s;
}

.menu-item {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    transition: ease .5s;
}

.menu-container:hover {
    transform: scale(120%);
}

.menu-item:hover {
    cursor: pointer;
}

.shake {
    animation: shake .25s;
}

@keyframes from-left {
    0% {
        transform: translateX(-10000px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes to-right {
    0% {
        transform: translateX(0%)
    }
    100% {
        transform: translateX(10000px);
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg)
    }

    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}