html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

body {
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    background-repeat: no-repeat;

}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 20px;
}

button {
    font-size: 16px;
    color: white;
    cursor: pointer;
}

li {
    list-style-type: none;
}

#speed-outer, #speed-toggle {
    position: absolute;
    right: 20px;
    top: 30px;
    height: 50px;
    width: 50px;
    user-select: none;
    -webkit-user-select: none;
}

#speed-toggle {
    transition: all .2s ease-in-out;
}

#speed-toggle:hover {
    cursor: pointer;
}

#speed-info {
    position: absolute;
    right: 90px;
    top: 20px;
    user-select: none;
    -webkit-user-select: none;
}


.fast-slow {
    animation: fast-slow .5s ease forwards;
}

.slow-medi {
    animation: slow-medi .25s ease forwards;
}

.medi-fast {
    animation: medi-fast .25s ease forwards;
}

.medi-slow {
    animation:medi-slow .25s ease forwards;
}

.fast-medi {
    animation: fast-medi .25s ease forwards;
}

.slow-fast {
    animation: slow-fast .5s ease forwards;
}


button {
    border: none;
    border-radius: 20px;
    height: 40px;
    background-color: transparent;
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 2px 2px 0px 0px gray;
}

button:focus {
    outline: none;
    box-shadow: 2px 2px 0px 0px white;
}

button:focus:active {
    box-shadow: none;
    transform: translateY(4px);
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
}

main > h2, h1 {
    height: 40px;
}

#current-answer {
    opacity: 0;
}

menu {
    padding: 0px;
    text-align: center;
    margin: 20px 20px 0 20px;
    border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
}

menu > ul {
    float: left;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

menu > ul > li {
    background-color: rgba(211, 211, 211, .4);
    float: left;
    width: 150px;
    height: 50px;
    line-height: 50px;
    position: relative;
    cursor: pointer;
}

menu > ul > li:first-child {
    border-radius: 5px 0 0 5px;
}

menu > ul > li:last-child {
    border-radius: 0 5px 5px 0;
}

menu > ul > li:hover {
    background-color: rgba(211, 211, 211, .2);
}

.menu-items {
    perspective: 150px;
    perspective-origin: center;
}

ul.menu-items {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    padding: 0px;
}

ul.menu-items > li {
    background-color: rgba(211, 211, 211, .4);
}

ul.menu-items > li:hover{
    background-color: rgba(211, 211, 211, .2);
}

ul.menu-items > li:last-child {
    border-radius: 0 0 5px 5px;
}

.menu-container > ul > li {
    display: none;
}

.menu-container:hover > ul > li {
    display: block;
}

.menu-container > ul > li:active {
    transform: translateZ(-8px);
}

.item-1 {
    animation: rotate-in 300ms ease 0ms;
}

.item-2 {
    animation: rotate-in 300ms ease 150ms;
}

.item-3 {
    animation: rotate-in 300ms ease 300ms;
}

.item-4 {
    animation: rotate-in 300ms ease 450ms;
}

.shake {
    animation: shake .5s;
}

#time-left {
    filter: brightness(.8);
    animation: breathe 600ms ease 0ms infinite;
}

@keyframes shake {
    0% {
        transform: rotate(0deg)
    }

    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes fast-slow {
    0% {
        transform: rotateZ(90deg);
    }

    10% { 
        transform: rotateZ(100deg);
    }

    70% {
        transform: rotateZ(-10deg);
    } 

    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes slow-medi {
    0% {
        transform: rotateZ(0deg);
    }

    10% { 
        transform: rotateZ(-10deg);
    }

    70% {
        transform: rotateZ(55deg);
    } 

    100% {
        transform: rotateZ(45deg);
    }
}

@keyframes medi-fast {
    0% {
        transform: rotateZ(45deg);
    }

    10% { 
        transform: rotateZ(35deg);
    }

    70% {
        transform: rotateZ(100deg);
    } 

    100% {
        transform: rotateZ(90deg);
    }
}

@keyframes fast-medi {
    0% {
        transform: rotateZ(90deg);
    }

    10% { 
        transform: rotateZ(100deg);
    }

    70% {
        transform: rotateZ(35deg);
    } 

    100% {
        transform: rotateZ(45deg);
    }
}

@keyframes medi-slow {
    0% {
        transform: rotateZ(45deg);
    }

    10% { 
        transform: rotateZ(55deg);
    }

    70% {
        transform: rotateZ(-10deg);
    } 

    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes slow-fast {
    0% {
        transform: rotateZ(0deg);
    }

    10% { 
        transform: rotateZ(-10deg);
    }

    70% {
        transform: rotateZ(100deg);
    } 

    100% {
        transform: rotateZ(90deg);
    }
}

@keyframes rotate-in {
    0% {
        transform: rotateY(-90deg) translateY(30px);
        opacity: 0;
    }    

    100% {
        transform: rotateY(0deg) translateY(0px);
        opacity: 1;
    }
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 600px) {
    #speed-info {
        display: none;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    p, button {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    #speed-outer, #speed-toggle {
        display: none;
    }
}