html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

body {
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 20px;
}

button {
    font-size: 16px;
    color: white;
}

li {
    list-style-type: none;
}

.speed-toggle, .speed-outer {
    position: relative;
    height: 50px;
    width: 50px;
    z-index: 1;
    left: 20px;
    top: 10px;
    transition: all .2s ease-in-out;
    user-select: none;
}

.speed-toggle:hover {
    cursor: pointer;
}

.speed-toggle {
    left: -30px;
}

#slow {
    animation: to-slow .5s ease forwards;
}

#medium {
    animation: to-medium .25s ease forwards;
}

#fast {
    animation: to-fast .25s ease forwards;
}


button {
    border: none;
    border-radius: 20px;
    height: 40px;
    background-color: transparent;
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 2px 2px 0px 0px gray;
}

button:focus {
    outline: none;
    box-shadow: 2px 2px 0px 0px white;
}

button:focus:active {
    box-shadow: none;
    transform: translateY(4px);
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    user-select: none;
}

#current-answer {
    opacity: 0;
}

#current-answer:hover {
    opacity: 1;
}

/* #menu-icon {
    position: fixed;
    right: 7%;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    z-index: 1;
    border-radius: 50px;
    width: 100px;
    height: 100px;
} */


#speeds:hover, #types:hover {
    cursor: pointer;
}

menu {
    padding: 0px;
    text-align: center;
    margin: 20px 20px 0 20px;
    border-radius: 5px;
}

menu > ul {
    float: left;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

menu > ul > li {
    background-color: rgba(211, 211, 211, .4);
    float: left;
    width: 150px;
    height: 50px;
    line-height: 50px;
    position: relative;
    cursor: pointer;
}

menu > ul > li:first-child {
    border-radius: 5px 0 0 5px;
}

menu > ul > li:last-child {
    border-radius: 0 5px 5px 0;
}

menu > ul > li:hover {
    background-color: rgba(211, 211, 211, .2);
}

.menu-items {
    perspective: 150px;
    perspective-origin: center;
}

ul.menu-items {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    padding: 0px;
}

ul.menu-items > li {
    background-color: rgba(211, 211, 211, .4);
}

ul.menu-items > li:hover{
    background-color: rgba(211, 211, 211, .2);
}

ul.menu-items > li:last-child {
    border-radius: 0 0 5px 5px;
}

.menu-container > ul > li {
    display: none;
}

.menu-container:hover > ul > li {
    display: block;
}

.item-1 {
    animation: pop-in-side 300ms ease 0ms;
}

.item-2 {
    animation: pop-in-side 300ms ease 150ms;
}

.item-3 {
    animation: pop-in-side 300ms ease 300ms;
}

.item-4 {
    animation: pop-in-side 300ms ease 450ms;
}

.shake {
    animation: shake .25s;
}

.blur-focus {
    animation: blur-focus 2s ease forwards;
}

.paused{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
}

@keyframes shake {
    0% {
        transform: rotate(0deg)
    }

    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes to-slow {
    0% {
        transform: rotateZ(90deg);
    }

    10% { 
        transform: rotateZ(100deg);
    }

    70% {
        transform: rotateZ(-10deg);
    } 

    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes to-medium {
    0% {
        transform: rotateZ(0deg);
    }

    10% { 
        transform: rotateZ(-10deg);
    }

    70% {
        transform: rotateZ(55deg);
    } 

    100% {
        transform: rotateZ(45deg);
    }
}

@keyframes to-fast {
    0% {
        transform: rotateZ(45deg);
    }

    10% { 
        transform: rotateZ(35deg);
    }

    70% {
        transform: rotateZ(100deg);
    } 

    100% {
        transform: rotateZ(90deg);
    }
}

@keyframes pop-in-side {
    0% {
        transform: rotateY(-90deg) translateY(30px);
        opacity: 0;
    }    

    100% {
        transform: rotateY(0deg) translateY(0px);
        opacity: 1;
    }
}

@keyframes blur-focus {
    0% {
        box-shadow: none;
    }

    50% {
        box-shadow: 0 0 0 80vw rgba(211, 211, 211, .4);
    }

    100% {
        box-shadow: none;
    }
}

@media screen and (max-width: 600px) {
    #menu-icon {
        right: 0px;
        top: 50px;
    }

    @keyframes blur-focus {
        0% {
            box-shadow: none;
        }
    
        50% {
            box-shadow: 0 0 0 80vh rgba(211, 211, 211, .4);
        }
    
        100% {
            box-shadow: none;
        }
    }
}